*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/.idea/inspectionProfiles
/.idea/misc.xml
.idea/jarRepositories.xml
/buildSrc/build
vcs.xml
freeline_project_description.json
freeline.py
bin/
gen/
out/
release/
.gradle/
build/
proguard/
freeline/
fastlane/
lint/git
